<footer>
		<div class="container">
			<div class="row">
				<div class="span6 offset3">
					<ul class="social-networks">
						<li><a href="#"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
						<li><a href="#"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
						<li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
						<li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li>
					</ul>
					<p class="copyright">
						&copy; Maxim Theme. All rights reserved.
						<div class="credits">
							<!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Maxim
              -->
							<a href="https://bootstrapmade.com/">Free Bootstrap Templates</a> by BootstrapMade.com
						</div>
					</p>
				</div>
			</div>
		</div>
		<!-- ./container -->
	</footer>
	<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
	<!-- jQuery -->
	<script src="/js/jquery.js"></script>
	<!-- nav -->
	<script src="/js/jquery.scrollTo.js"></script>
	<script src="/js/jquery.nav.js"></script>
	<!-- localScroll -->
	<script src="/js/jquery.localScroll.js"></script>
	<!-- bootstrap -->
	<script src="/js/bootstrap.js"></script>
	<!-- prettyPhoto -->
	<script src="/js/jquery.prettyPhoto.js"></script>
	<!-- Works scripts -->
	<script src="/js/isotope.js"></script>
	<!-- flexslider -->
	<script src="/js/jquery.flexslider.js"></script>
	<!-- inview -->
	<script src="/js/inview.js"></script>
	<!-- animation -->
	<script src="/js/animate.js"></script>
	<!-- twitter -->
	<script src="/js/jquery.tweet.js"></script>
	<!-- custom functions -->
	<script src="/js/custom.js"></script>
</body>

</html>